{{! Partial for each individual comment }}
<div
  class="bg-dark px-2 pb-1 d-flex justify-content-between align-items-center"
>
  <p class="lead">{{user.username}}</p>
  <p>Posted {{format_date createdAt}}</p>
</div>
<div id="parent{{id}}" class="px-2 py-1">
  <p id="comment{{id}}" data-id="{{id}}">{{comment_text}}</p>
</div>