<article class="border border-dark border-2 rounded">
  <div
    class="bg-dark px-2 pb-1 d-flex justify-content-between align-items-center"
  >
    <p class="lead">{{title}}</p>
    {{#if (is_updated created_at updated_at)}}
      <p>Updated by {{user.username}} {{format_date updated_at}}</p>
    {{else}}
      <p>Posted by {{user.username}} {{format_date created_at}}</p>
    {{/if}}
  </div>
  <div class="px-2 py-1">
    <p>{{content}}</p>
  </div>
</article>