{{! Partial for each individual post }}
<article class="border border-dark border-2 rounded" data-id={{id}}>
  <div
    class="bg-dark px-2 pb-1 d-flex justify-content-between align-items-center"
  >
    <p class="lead">{{title}}</p>
    {{! Checks if post had been updated }}
    {{#if (is_updated createdAt updatedAt)}}
      {{! Alters the date display, showing when it was updated, rather than posted }}
      <p>Updated by {{user.username}} {{format_date updatedAt}}</p>
    {{else}}
      {{! The initial date displayed - shows when the post was created }}
      <p>Posted by {{user.username}} {{format_date createdAt}}</p>
    {{/if}}
  </div>
  <div class="px-2 py-1">
    <p>{{content}}</p>
  </div>
</article>